.container2{
    background: #dedeeb;
    position: absolute;
    width: 700px;
    margin:50px 300px;
    border-radius: 30px;
    backdrop-filter: blur(3px);
    z-index: 100;
}


.container2 label , input{
   flex-basis: 0;
   flex-grow: 1;
}

.container2 input{
   outline: none;
}

.container2 button{
   background:#6db7da;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: calc(100% - 40px);
    height: 40px;
    margin: 30px;
    color: #550f97;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    transition: all .01s ease-in;
}

.container2 button:hover{
   box-shadow: 14px 8px 59px 6px rgba(153,165,201,1);
}

.even{
   background: #9ca593;
   color: #4e505c;
}

.odd{
   background: #4e505c;
   color: #9ca593;
}

.container2 input{
   width: 70%;
   margin:20px 90px 20px ;
   align-items: center;
   height: 30px;
   color: #550f97;
   font-weight: 700;
   border: 1px solid  ;
   outline: none;
}

.odd ,.even{
   display: flex;
   align-items: center;
   justify-content: center;
   
  }
  .container2 label{
   margin-left: 20px;
  }

