.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background-color: rgb(228, 214, 136);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal button{
    background:#6db7da;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: calc(100% - 40px);
    height: 40px;
    margin: 30px;
    color: #550f97;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    transition: all .01s ease-in;
  }

  .modal button:hover{
      box-shadow: 14px 8px 59px 6px rgba(153,165,201,1);
  }